.dropdown-button {
    background-color: white;
    /* Blue color */
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}

.dropdown-button:hover {
    background-color: #9d9a9a;
    /* Darker blue on hover */
}


/* Dropdown content */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(193, 193, 193);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 44%;
}

.dropdown-content label {
    display: block;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown-content input[type="radio"] {
    margin-left: 1px;
    margin-right: 10px;
}


/* Dropdown Options */

.dropdown-option {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #9d9a9a;
    /* Darker blue on hover */
}