body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #50b3a2;
    color: #ffffff;
    padding: 30px 0;
    min-height: 70px;
    border-bottom: #3c9a89 3px solid;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    cursor: pointer;
    /* Cursor mudado para indicar que é clicável */
}

#home-link {
    text-decoration: none;
    /* Remove sublinhado padrão do link */
    color: inherit;
    /* Herda a cor do texto do header */
    display: block;
    /* Faz o link ocupar toda a área do h1 */
}

#header-bt {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #50b3a2;
    margin-bottom: 3em;
}

#header-bt button {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 70px);
}

.content {
    padding: 20px;
    background: #ffffff;
    margin-top: 30px;
    box-sizing: border-box;
    flex-grow: 1;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    margin: 10px 0;
}

p {
    color: #333333;
    margin: 10px 0;
}

img {
    margin-top: 1em;
    margin-bottom: 1em;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

.bt {
    padding: 0.5em;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Você pode ajustar a altura conforme necessário */
}

.spinner-border {
    width: 6rem;
    height: 6rem;
}

#spinner {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 6em;
}